@model List<ITEC.Objects.SearchData>
    @{
        ViewBag.Title = "Home Page";
    }
    <br />
<div class="img-responsive">
    <div class="jumbotron" style="background-image:url(/ITEC/slika1.jpg); background-repeat:no-repeat; background-size:cover;
 background-position:bottom">
        <h1>POLLUTION</h1>
        <p class="lead" style="text-align:right;font-family:'Comic Sans MS' ;color:white">Love Is In The Air, But The Air is Highly Polluted!</p>
        <p><a href="http://www.conserve-energy-future.com/pollutiontypes.php" target="_blank" class="btn btn-info">Learn more about pollution &raquo;</a></p>
    </div>
</div>

    <div class="row">
        <div class="col-md-4">
            <h2 style="text-align:center;color:#333333">Skopje</h2>
            <a href='@Url.Action("Search","Home",new { city = "Skopje"})'><img src="/ITEC/slika7.jpg" class="img-responsive"/></a>
        </div>
        <div class="col-md-4">
            <h2 style="text-align:center;color:#333333">Veles</h2>
            <a href='@Url.Action("Search","Home",new { city = "Veles-2"})'><img src="/ITEC/Veles.jpg" class="img-responsive" alt="" /></a>
        </div>
        <div class="col-md-4">
            <h2 style="text-align:center;color:#333333">Tetovo</h2>
            <a href='@Url.Action("Search","Home",new { city = "Tetovo,Macedonia"})'><img src="/ITEC/tetovo.jpg" class="img-responsive" alt="" /></a>
        </div>
    </div>
<div>

    @foreach (var item in Model)
    {
        <div>
            @Html.Partial("Result", item)
        </div>   
    }
   
</div>
















<style>
    body {
    background: #B5AF7C; /* For browsers that do not support gradients */
    background: linear-gradient(#6767C0,#B5AF7C,#B5AF7C); /* Standard syntax */
    
}
slide1, .slide2, .slide3 {
    min-height: 560px;
    background-size: cover;
    background-position: center center;
}
slide1 {
    background-image: url(/ITEC/slika1.jpg);
}
slide2 {
    background-image: url(/ITEC/slika2.jpg);
}
slide3 {
    background-image: url(/ITEC/slika3.jpg);
}
/* Carousel Fade Effect */
carousel.carousel-fade .item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: .5;
}
carousel.carousel-fade .active.item {
    opacity: 1;
}
carousel.carousel-fade .active.left,
carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
carousel-overlay {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
}
</style>
